<%- include('./partials/header') %>

<title>All Movies</title>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <header style="margin-bottom: 2rem">
    <h1 class="text-center" style="font-size: 80px">All Movies</h1>
  </header>

  <div class="search">
    <form action="/api/movies/search/" method="GET">
      <div class="search-bar">
        <input
          type="search"
          id="input-bar"
          name="title"
          placeholder="Type Movie, Genre or Something"
        />
        <button type="submit" id="submitButton">Search</button>
      </div>
    </form>
  </div>
  <div class="sort">
    <form
      class="text-right"
      action="/api/movies/movies/select"
      method="get"
      id="myForm"
      style="flex-direction: row"
      onchange="get()"
    >
      <span>Sort By &nbsp;</span>
      <select name="sortBy" class="form-select selectStyle">
        <option style="font-weight: lighter">Select</option>
        <option value="Name">Name</option>
        <option value="Year">Year</option>
        <option value="Price">Price</option>
        <option value="IMDb">IMDb Rating</option>
        <option value="BoxOffice">Box Office</option>
        <option value="Rank">Rank</option>
        <option value="Availability">Availability</option>
        <option value="Popularity">Popularity</option>
        <option value="Genre">Genre</option>
      </select>
    </form>
  </div>
  <div class="moviesBox">
    <%movies.forEach(list=>{%>
    <div class="card" id="cardStyling">
      <a target="_blank" href="/api/movies/<%=list._id%>"
        ><div class="img-hover">
          <img class="img" src="<%=list.img%>" /></div
      ></a>
      <div class="card-body">
        <a href="/api/movies/<%=list._id%>" target="_blank"
          ><h6 style="color: white" class="text-center">
            <%=list.title%> (<%=list.year%>)
          </h6></a
        >
      </div>
    </div>
    <%})%>
  </div>
</body>

<script>
  async function get() {
    document.getElementById("myForm").submit();
  }
</script>

<%- include('./partials/footer') %>
