<%- include('./partials/header') %>
<style>
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>
<title>Add Movies</title>
<body>
  <%if(message){%> <%for(var i=0; i< message.length; i++){%>
  <%console.log(message)%> <%if(message[0].startsWith('Invalid')){%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%=message%></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%}else if(message[0].includes('Already')){%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=message%></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%} else{ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><%=message%></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%}%> <%}%> <%}%>
  <div style="text-align: center">
    <h1 style="text-size-adjust: 30px">Add Movies</h1>
    <h6>Please add the details to add a movie to the collection</h6>
    <h7>(**Make sure to add the right title for the movie**)</h7><br />
    <br />
  </div>
  <div class="container">
    <div class="col d-flex justify-content-center" style="margin-left: 400px">
      <form
        style="text-align: center"
        action="/api/movies/createmovies"
        method="POST"
      >
        <input
          type="text"
          class="form-control"
          name="genreName"
          placeholder="Enter Genre"
        /><br />
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Title"
        /><br />
        <input
          type="text"
          class="form-control"
          name="numberInStock"
          value="12"
          placeholder="Number in Stock"
        /><br />
        <input
          type="text"
          class="form-control"
          name="dailyRentalRate"
          placeholder="Rent Rate"
        /><br />
        <button
          type="submit"
          class="btn btn-outline-success"
          style="border-radius: 10px"
        >
          Submit
        </button>
      </form>
      <div class="col text-right pull-right" style="margin-left: 25rem">
        <ul
          style="width: 200px; border: 1px solid; border-radius: 5px"
          class="list-group pull-right"
        >
          <li class="list-group-item active text-center">
            All Available Genres
          </li>
          <%allGenres.forEach(list=>{%>
          <li class="list-group-item text-center"><%=list.name%></li>
          <%})%>
        </ul>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>
</body>
