
<%- include('./partials/header') %>

<link rel="stylesheet" href="style.css"/>


  <div class="container">
    <div class="row">
      <%movies.forEach(list=>{%>
        <div class="col-md-4 col-xs-6">
            <div class="card">
              <div class="col-md-4">
                <img src="<%=list.img%>" class="card-img" alt="...">
              </div>
              
                <div class="card-block">
                    <h4 class="card-title"><%=list.title%>(<%=list.year%>)</h4>
                    <p class="card-text"><small class="text-muted"><%=list.genre.name%></small></p>
                    <p class="card-text"><%=list.description%></p>
                    <small><a href="<%=list.link%>" alt="#" target="_blank">IMDB Page</a></small>
                </div>
            </div>
        </div>
        <%})%>
    </div>
  </div>
  
