<%- include('./partials/header') %>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<title><%=movie.title%> (<%=movie.year%>)</title>
<style>
  
 
  h5 {
    margin-top: 25px;
  }
 
  
  .card-text {
    font-family: "Work Sans", sans-serif;
    /* margin: 5px; */
    color: rgb(20, 20, 20);
  }
  .img {
    position: relative;
    width: 13.75rem;
    height: 20.625rem;
    left: 0;
  }
  span {
    font-size: 20px;
  }
 
  
</style>
<body>
  <%if(message.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p style="color:black"><%=message%></p> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%}%>
  <div class="row">
    <a target="_blank" href="<%=movie.img%>"
      ><img class="moviepagimg"
       
        src="<%=movie.img%>"
    /></a>
    
    <div class="cardDiv">
      <div style="min-width:2rem;" ><h1><%=movie.title%> (<%=movie.year%>)</h1></div>
      
      <h5>Starring: <b><%=movie.cast%></b></h5>
      <h5>Director: <b><%=movie.director%></b></h5>
      <h5>Genre: <%for(var i=0; i< rgenres.length; i++){%> <a href="/api/movies/search/?title=<%=rgenres[i]%>" style="text-decoration: none;"><%=rgenres[i]%> </a> <%if(i!=rgenres.length-1){%><span>,</span><%}%> <%}%>
      <h5>CBFC Rating: <b><%if(movie.mpAARating==""){%>U/A<%}else{%><%=movie.mpAARating%><%}%></b></h5>
  
      <%if(movie.worldwide!=""){%>
      <h5>Box Office: <b><%=movie.worldwide%></b></h5>
      <%} else {}%>
      <h5>
        <a
          class="card-text "
          style="text-align: center; position: relative; right: 10"
          href="<%=movie.links%>"
          target="_blank"
          id="imdb"
          >IMDb: <%=movie.imdbRating%>/10</a
        >
      </h5>
      <h5>RunTime: <b><%=movie.runtime%></b></h5>
      <%if(movie.aspectRatio!=""){%>
      <h5>Aspect Ratio: <b><%=movie.aspectRatio%></b></h5>
      <%} else {}%>
      <h5 >
        Rental Rate (per day):
        <b style="color: red">$<%=movie.dailyRentalRate.toFixed(2)%></b
        >
      </h5>
      
      <%if(movie.numberInStock <=10){%>
      <h5 style="color: red">Available in Stock: <%=movie.numberInStock%></h5>
      <span style="color: red; font-size: small"
        >This item is quickly running out of stock</span
      >
      <br>
      <%}%>
      <%if(movie.iReviewed){%>
        <span><a href="#"
          ><button class="btn btn-success">Review</button></a
        ></span>
        <%}%>
        <br>
        &nbsp;&nbsp;<span
        ><a href="/api/movies/addToCart/<%=movie._id%>"
          ><button class="btn btn-success">Add to Cart</button></a
        ></span
      >

      &nbsp;&nbsp;<span><a href="/api/movies/addtowishlist/<%=movie._id%>"
        ><button class="btn btn-success">Wishlist</button></a
      ></span>
      
    </div>
    
    <br /><br />
    
  </div>
  
  <div class="container">
    <br />
    <h4 style="text-align: center">Related Movies</h4>
  </div>
  <br />
  <%var p = 5;%>
  <div class="moviesBox">
  
    <%otherMovies.forEach(list=>{%>
    <a href="/api/movies/<%=list._id%>">
      <div class="otherContainer">
        <div class="col-md-4 col-xs-9" >
          <div
            class="card"
            id="cardStyling"
          >
          <div class="img-hover">
              <img class="img" src="<%=list.img%>" alt="Card image cap" />
            </div>
            <div class="card-body" style="width: 20rem">
              <a
                target="_blank"
                href="/api/movies/<%=list._id%>"
                style="text-decoration: none; color:white"
                ><h5 class="card-title " style="position: relative; bottom:25px;">
                  <%=list.title%> (<%=list.year%>)
                </h5></a
              >
            </div>
          </div>
        </div>
      </div>
     
    </a>
    <%})%>
  </div>
 
</body>

<%- include('./partials/footer') %>
