<!DOCTYPE html>

<html lang="en">
  <%- include('./partials/header') %>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" defer />
    <title>Vidly</title>
  </head>

  <body>
    <section class="header">
      <h1>Vidly</h1>
      <h6>All of the World Cinema At One Place</h6>
    </section>

    <section class="search">
      <form action="/api/movies/search/" method="GET">
        <div class="search-bar">
          <input
            type="search"
            name="title"
            id="input-bar"
            placeholder="Type Movie, Genre or Something"
          />
          <button type="submit" id="submitButton">Search</button>
        </div>
      </form>
    </section>

    <div class="moviesBox">
      <%movies.forEach(list=>{%>
      <div id="cardStyling">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="/api/movies/<%=list._id%>"
          ><div>
            <img class="img" src="<%=list.img%>" alt="Loading..." /></div
        ></a>
        <div class="cardBody">
          <a
            href="/api/movies/<%=list._id%>"
            rel="noopener noreferrer"
            target="_blank"
            ><h6><%=list.title%> (<%=list.year%>)</h6></a
          >
        </div>
      </div>
      <%})%>
    </div>

    <%var i=0 %>
    <form action="/api/movies/movies/" method="GET" class="text-center">
      <%for(i=0; i< movieCount/perPage; i++){%>
      <input
        type="submit"
        name="pageNo"
        class="btn btn-info"
        value="<%=i+1%>"
      />
      <%}%>
    </form>
  </body>

  <script>
    var movieData = [];
    var screensize;
    const searchBar = document.getElementById("input-bar");
    searchBar.addEventListener("keyup", (e) => {
      console.log(e.target.value);
      axios
        .get(`/api/movies/movies/test?title=${e.target.value}`)
        .then((response) => {
          movieData = response.data;
          console.log(movieData);
        });
    });
    function getScreenSize() {
      const innerWidth = window.screen.availWidth;
      axios.get(`/api/movies/screensize/${innerWidth}`).then((response) => {
        console.log(response.data, "daya");
      });
    }
    getScreenSize();
  </script>

  <%- include('./partials/footer') %>
</html>
