
<%- include('./partials/header') %>
<head>
  <title>Vidly-Movies</title> 
</head>
<link rel="stylesheet" href="style.css"/>

 <form action="/api/movies/search/" method="POST">
  <div style="text-align:right" class="form-group">
  <input type="text" id="searchmovie"  style="width:300px; border-color:grey;" name="title" placeholder="Please enter the movie" />
  <button type="submit" style="background-color:green; border:none; color:white; text-align: center; padding:8px 32px ">Search</button>
</div>
</form> 

  <div class="container">
    <div class="row">
      <br>
      <%movies.forEach(list=>{%>
        <div class="col-md-4 col-xs-6">
            <div class="card" style="width:90%; display:flex; align-items:center; justify-content:center">
              <div class="col-md-9 col-xs-5">
               <a target="_blank" href="<%=list.img%>"><img style="padding-left:10px" src="<%=list.img%>" class="card-img" alt="..."></a> 
              </div>

                <div class="card-block" style="padding:4px;">
                    <a href="/api/movies/<%=list.title%>"><h4 class="card-title"><%=list.title%>(<%=list.year%>)</h4></a>
                    <p class="card-text"><b class="text-muted">   <%=list.genreId.name%></b></p>
                    <span>IMDB Movie Rank: <%=list.rank%></span>
                    <p class="card-text">   Starring: <%=list.cast%></p>
                    <a href="<%=list.links%>" alt="#" target="_blank">IMDB Page</a>
                </div>
            </div>
            <br>
        </div>
        <%})%>
      </div>
  </div>
  


  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>