<%- include('./partials/header') %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
  :root {
    --clr-background: rgb(52, 58, 64);
  }
  body {
    max-width: 105%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(52, 58, 64);
    color: white;
  }
  .pagination {
    font-size: 1.25rem;
  }
  .moviesBox {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-basis: 4rem;
    justify-content: space-around;
    grid-template-columns: min-content;
    /* flex: 100%; */
  }
  #submitButton {
    background-color: #0fbd9c;
    border-radius: 20px;
    border: 1px solid white;
    padding: 0.48rem;
    display: block;
    color: white;
    margin-left: 5px;
  }
  #cardStyling {
    margin: 0 4.1rem 2.1rem 1.3rem;
    width: 12.5rem;
    height: 21.25rem;
    border: 25px;
    border-radius: 1.25rem;
    background-color: var(--clr-background);
    transition: filter 300ms;
    background-color: var(--clr-background);
  }
  .search {
    /* position: relative;
    left: 32%; */
    /* display: block;
    float: calc(); */
    margin: auto;
    position: relative;
    left: 30vw;
    align-items: center;
    margin-bottom: 2rem;
  }
  .input {
    width: 50%;
    margin-top: 3px;
    border-radius: 1.6rem;
    padding: 1.1rem;
  }
  .sort {
    position: relative;
    right: 2%;
    margin-bottom: 2rem;
  }
  .card-text {
    color: #000;
    font-family: "Yaldevi", sans-serif;
    font-weight: bold;
  }

  .popbuttons {
    background-color: rgb(74, 175, 74);
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(218, 217, 217);
  }
  ul {
    list-style: none;
    border-radius: 5px;
  }
  .selectStyle {
    padding: 0.3125rem;
    min-width: 9%;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .img {
    height: 17.5rem;
    min-width: 12.5rem;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.09);
  }

  a,
  a:hover {
    text-decoration: none;
  }
  p {
    font-weight: 900;
    margin-right: 50;
  }

  h1,
  h6 {
    font-family: "Yaldevi", sans-serif;
    cursor: default;
  }
</style>
<body>
  <head>
    <title>Vidly</title>
  </head>
  <header>
    <h1 class="text-center" style="font-size: 80px">Vidly</h1>
    <h6 class="text-center" style="font-weight: 400">
      All of the World Cinema At One Place
    </h6>
  </header>
  <br />

  <div class="search">
    <form action="/api/movies/search/" method="GET">
      <div class="container row">
        <input
          type="search"
          class="form-control input"
          name="title"
          placeholder="Type Movie, Genre or Something"
        />
        <button type="submit" id="submitButton">Search</button>
      </div>
    </form>
  </div>
  <div class="sort">
    <form
      class="text-right"
      action="/api/movies/movies/select"
      method="POST"
      id="myForm"
      style="flex-direction: row"
      onchange="get()"
    >
      <span>Sort By &nbsp;</span>
      <select name="sortBy" class="form-select selectStyle">
        <option style="font-weight: lighter">Select</option>
        <option value="Name">Name</option>
        <option value="Year">Year</option>
        <option value="Price">Price</option>
        <option value="IMDb">IMDb Rating</option>
        <option value="Availability">Availability</option>
        <option value="Rank">Popularity</option>
        <option value="Genre">Genre</option>
      </select>
    </form>
  </div>

  <div class="moviesBox">
    <%movies.forEach(list=>{%>
    <div class="card" id="cardStyling">
      <a target="_blank" href="/api/movies/<%=list._id%>"
        ><div class="img-hover">
          <img class="img" src="<%=list.img%>" /></div
      ></a>

      <br />
      <div class="card-body">
        <a href="/api/movies/<%=list._id%>" target="_blank"
          ><h6 style="color: white" class="movietitle text-center"><%=list.title%> (<%=list.year%>)</h6></a
        >
        <ul class="main-card"></ul>
      </div>
    </div>
    <%})%>
  </div>
</body>
<%var i =0%>
<form action="/api/movies/movies/" method="GET" class="text-center">
  <%for(i=0; i< movieCount/perPage; i++){%>
  <input type="submit" name="pageNo" class="btn btn-info" value="<%=i+1%>" />
  <%}%>
</form>

<script>
  getMovies();
  async function getMovies() {
    const url = "/api/movies/movies/";
    var data = [];
    await axios.get(url).then((response) => (data = response.data));
    for (var i = 0; i < data.movies.length; i++) {
      console.log(data.movies[i].title);
      document.getElementsByClassName("movietitle").value =
        data.movies[i].title;
    }
  }
</script>
<%- include('./partials/footer') %>
