<%- include('./partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
  rel="stylesheet"
/>
<style>
  .moviesBox {
    padding-left: 250px;
  }
  #submitButton {
    background-color: #0fbd9c;
    border-radius: 30px;
    border: 1px solid white;
    display: block;
    color: white;
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: 0.5px 0.5px 5px #cecfcf;
  }
  #cardStyling {
    margin-right: 100px;
    margin-bottom: 30px;
    width: 399px;
    border: 25px;
    overflow: hidden;
    filter: drop-shadow(2px 4px 8px #3b3d3d);
    transition: filter 500ms;
  }

  .card-text {
    color: #000;
    font-family: "Yaldevi", sans-serif;
    font-weight: bold;
  }
  #cardStyling:hover {
    filter: drop-shadow(2px 4px 18px #0fbd9c);
  }

  .popbuttons {
    background-color: rgb(74, 175, 74);
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(218, 217, 217);
  }
  ul {
    /* border:1px solid black; */
    list-style: none;
    border-radius: 5px;
  }
  .selectStyle {
    padding: 10px;
    width: 100px;
    /* background-color: rgb(110, 240, 131); */
    /* border-radius: 30px; */
  }
  .selectStyle.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .img {
    height: 500px;
    width: 399px;
    overflow: hidden;
    bottom: 1;
    position: relative;
    /* right: 132px; */
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /* opacity:  0.2; */
  }

  .img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.1);
  }
  .main-card {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .main-card:hover {
    -webkit-transform: scale(1);
    transform: scale(1.1);
  }
  b {
    font-weight: bolder;
    color: black;
  }
  strong {
    font-weight: lighter;
  }
  p {
    font-weight: 900;
  }
</style>
<body style="background-color: rgb(255, 249, 242)">
  <head>
    <title>Vidly</title>
  </head>
  <link type="text/css" href="./styles/style.css" />
  <h1 class="text-center" style="font-size:80px;font-family:'Yaldevi', sans-serif">Vidly</h1>
  <h7 class="text-center" style="padding-left:780px;">All of the World Cinema At One Place</h3>

  <div style="padding-left: 1400px">
    <form action="/api/movies/search/" method="GET">
      <div class="container row">
        <input
          type="search"
          class="form-control"
          style="
            width: 210px;
            border: 2px solid grey;
            margin-top: 3px;
            border-radius:25px;
          "
          name="title"
          placeholder="Search Here"
        />
        <button type="submit" id="submitButton">Search</button>
      </div>
    </form>
  </div>

  <form
    class="text-right"
    action="/api/movies/movies/select"
    method="GET"
    id="myForm"
    style="padding-right: 250px; flex-direction: row;"
    onchange="get()"
  >
    <span>Sort By &nbsp;</span>
    <select name="sortBy" class="form-select selectStyle" style="height: 50px;">
      <option style="font-weight:lighter">Select</option>
      <option value="Name">Name</option>
      <option value="Year">Year</option>
      <option value="Rank">Popularity</option>
      <option value="Genre">Genre</option>
    </select>
  </form>

  <div class="moviesBox">
    <div class="row">
      <%movies.forEach(list=>{%>
      <div class="card" id="cardStyling">
        <a target="_blank" href="/api/movies/<%=list._id%>"
          ><div class="img-hover">
            <img class="img" src="<%=list.img%>" alt="..." /></div
        ></a>
        <br />

        <div class="card-block">
          <br />
          <ul class="main-card">
            <a href="/api/movies/<%=list._id%>" target="_blank"
              ><h5 style="text-align: center; margin-right: 5px">
                <%=list.title%>(<%=list.year%>)
              </h5></a
            >
            <li class="movieclass">
              <p class="card-text"><strong>Cast</strong>: <%=list.cast%></p>
            </li>
            <li class="movieclass">
              <p class="card-text"><strong>Rating</strong>: 3/5</p>
            </li>
            <li class="movieclass">
              <p class="card-text">
                <strong>Genre</strong>: <%=list.genre.name%>
              </p>
            </li>
            <li class="movieclass">
              <p class="card-text"><strong>Rank</strong>: <%=list.rank%></p>
            </li>
            <li class="movieclass">
              <p class="card-text">
                <strong>Rental Price</strong>: $<%=list.dailyRentalRate%>
              </p>
            </li>
            <br />
            <a
              class="card-text movieclass"
              style="text-align: center; position: relative; right: 30"
              href="<%=list.links%>"
              target="_blank"
              ><p style="color: rgb(49, 128, 197)">IMDB Page</p></a
            >
          </ul>
        </div>
      </div>
      <br />
      <%})%>
    </div>
  </div>
</body>
<script>
  fetch().then((response) => {
    console.log(response);
  });
</script>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>

<script>
  function get() {
    document.getElementById("myForm").submit();
  }
</script>
