
<%- include('./partials/header') %>
<br>
 <title>
   <%=movie.title%>(<%=movie.year%>)
 </title>

<div class="row" style="margin-left:30px ">
   <a target="_blank" href="<%=movie.img%>"><img style="height:500px; width:300px;margin-left: 25px; "  src="<%=movie.img%>" /></a>
   <div class="container">
      <h1 ><%=movie.title%> (<%=movie.year%>)</h1>
      <h5 style="font-weight:lighter">Starring: <b><%=movie.cast%></b></h5><br>
      <h5 style="font-weight:lighter">Genre: <b><%=movie.genreId.name%></b></h5><br>
      <h5 style="font-weight:lighter">Ratings: </h5><br>
      <h5 style="font-weight:lighter">IMDB Page: <a target="_blank" href="<%=movie.links%>"><b>Click Here</b></a></h5><br>
      <h5 style="font-weight:lighter">Movie Rank: <b><%=movie.rank%></b></h5><br>
      <h4 style="font-weight:lighter">Rental Rate: <b style="color:red">$<%=movie.dailyRentalRate%></b><small><small> +charges for Home delivery</small></small></h4><br>
      <h4 style="font-weight:lighter">Gold Customer Rental Rate: <b style="color:red">$<%=movie.dailyRentalRate - 5%></b></h4><br>
      <%if(movie.numberInStock <=10){%>
         <b ><span style="color:red">Available in Stock: <%=movie.numberInStock%></b></span><br>
      <%}else{%>
         <span>Available in Stock: <%=movie.numberInStock%></span><br>
      <%}%>
      <br><br>
    
         <span><button class="btn btn-outline-success" >Add to Cart</button></span>
         &nbsp;&nbsp;<a href="/api/movies/addtowishlist/<%=movie._id%>"><button class="btn btn-outline-success" >Wishlist</button></a>
     
   </div>
   <br><br>
   <div class="container">
      <br><h5 style="text-align:center;">Other Popular Movies you may like</h5><br>
   </div>
   <%otherMovies.forEach(list=>{%>
   <div class="col-md-4 col-xs-7">

      <div class="card" style="width: 18rem; align-items:center; justify-content:center; border-radius:35px">
         <div class="col-md-9">
            <img class="card-img-top" src="<%=list.img%>" alt="Card image cap">
         </div>
         <div class="card-body" style="width:18rem">
            <a target="_blank" href="/api/movies/<%=list._id%>"><h5 class="card-title" ><%=list.title%> (<%=list.year%>)</h5></a>
            <span class="card-text">Ratings: </span><br>
            <span class="card-text">Starring: <%=list.cast%></span><br>
            <span class="card-text">Movie Rank: <%=list.rank%></span><br><br>
            <a href="#" class="btn btn-success">Add to Cart</a>
         </div>
      </div>
      <br>
  
   </div>
   <%})%> 

</div>

<script>
   function get(){
      alert("Login To Access this feature");
   }
</script>
