<%- include('./partials/header') %>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
    rel="stylesheet"
  />
</head>
<title><%=movie.title%> (<%=movie.year%>)</title>
<style>
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(39, 39, 39);
    color: white;
  }
  h5,
  h4,
  p,
  span {
    font-family: "Yaldevi", sans-serif;
  }
  h5 {
    margin-top: 25px;
  }
  #imdb {
    margin-top: 10px;
    margin-left: 5px;
    border-color: 1px solid transparent;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: black;
    width: 90px;
    background-color: #dba506;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  #imdb:hover {
    -webkit-transform: scale(1);
    transform: scale(1.1);
  }
  .card-text {
    font-family: "Work Sans", sans-serif;
    margin: 5px;
    color: rgb(20, 20, 20);
  }
  .img {
    position: relative;
    width: 220px;
    height: 330px;
    right: 51px;
    top:5px;
    left: 0;
    overflow-x:hidden;
  }
  span {
    font-size: 20px;
  }
  .otherContainer {
    margin-top:40px;
    margin-left: 6vh;
    margin-bottom:90px;
    flex-direction: row;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .otherContainer:hover {
    -webkit-transform: scale(1);
    transform: scale(1.1);
  }
  
</style>
<body>
  
  <div class="row">
    <a target="_blank" href="<%=movie.img%>"
      ><img
        style="height: 560px; width: 400px; margin-left: 25px"
        src="<%=movie.img%>"
    /></a>
    <div style="position: relative; left: 40px">
      <h1><%=movie.title%> (<%=movie.year%>)</h1>
      <h5>Starring: <b><%=movie.cast%></b></h5>
      <h5>Director: <b><%=movie.director%></b></h5>
      <h5>Genre: <%for(var i=0; i< rgenres.length; i++){%> <a href="/api/movies/search/?title=<%=rgenres[i]%>" style="text-decoration: none;"><%=rgenres[i]%> </a>  <%}%>
      <h5>CBFC Rating: <b><%if(movie.mpAARating==""){%>U/A<%}else{%><%=movie.mpAARating%><%}%></b></h5>
      <%console.log(movie.mpAARating)%>
      <%if(movie.worldwide!=""){%>
      <h5>Box Office: <b><%=movie.worldwide%></b></h5>
      <%} else {}%>
      <h5>
        <a
          class="card-text movieclass"
          style="text-align: center; position: relative; right: 10"
          href="<%=movie.links%>"
          target="_blank"
          id="imdb"
          >IMDb: <%=movie.imdbRating%>/10</a
        >
      </h5>
      <h5>RunTime: <b><%=movie.runtime%></b></h5>
      <%if(movie.aspectRatio!=""){%>
      <h5>Aspect Ratio: <b><%=movie.aspectRatio%></b></h5>
      <%} else {}%>
      <h5>
        Rental Rate (per day):
        <b style="color: red">$<%=movie.dailyRentalRate.toFixed(2)%></b
        ><small><small style="margin-bottom: 2px"> </small></small>
      </h5>
      <h5 style="margin-bottom: 20px">
        Gold Customer Rental Rate:
        <b style="color: red">$<%=(movie.dailyRentalRate - 0.5).toFixed(2)%></b
        >&nbsp;<span style="font-size: xx-small"
          ><a
            href="/api/customers/goldpage"
            style="text-decoration: none; position: relative; bottom: 3px"
            ><strong>Apply here</strong></a
          ></span
        >
      </h5>
      <%if(movie.numberInStock <=10){%>
      <h5 style="color: red">Available in Stock: <%=movie.numberInStock%></h5>
      <span style="color: red; font-size: small"
        >This item is quickly running out of stock</span
      >
      <%}%>
      <%if(movie.iReviewed){%>
        <span><a href="#"
          ><button class="btn btn-success">Review</button></a
        ></span>
        <%}%>
        &nbsp;&nbsp;<span
        ><a href="/api/movies/addToCart/<%=movie._id%>"
          ><button class="btn btn-success">Add to Cart</button></a
        ></span
      >

      &nbsp;&nbsp;<span><a href="/api/movies/addtowishlist/<%=movie._id%>"
        ><button class="btn btn-success">Wishlist</button></a
      ></span>
      
    </div>
    <br /><br />
  </div>
  <div class="container">
    <br />
    <h4 style="text-align: center">Other Popular Movies you may like</h4>
  </div>
  <br />
  <%var p = 5;%>
  <div class="row">
    <%for(var i=0; i< p; i++){%>
    <a href="/api/movies/<%=otherMovies[i]._id%>">
      <div class="otherContainer">
        <div class="col-md-4 col-xs-9">
          <div
            class="card"
            style="width: 220px; height:300px;align-items: center; justify-content: center"
          >
            <div class="col-md-9 col-xs-9">
              <img class="img" src="<%=otherMovies[i].img%>" alt="Card image cap" />
            </div>
            <div class="card-body" style="width: 20rem">
              <a
                target="_blank"
                href="/api/movies/<%=otherMovies[i]._id%>"
                style="text-decoration: none; color:white"
                ><h5 class="card-title text-center" style="position: relative; bottom:25px;">
                  <%=otherMovies[i].title%> (<%=otherMovies[i].year%>)
                </h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </a>
    
    <%}%>
  </div>
 
</body>

<%- include('./partials/footer') %>
