<!DOCTYPE html>
<%- include('./partials/header') %>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title><%=movie.title%> (<%=movie.year%>)</title>
</head>

<body>
  <%if(message.length>0){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p style="color:black"><%=message%></p> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%}%>
    <div class="movie-details">
      <a rel="noopener noreferrer" target="_blank" href="<%=movie.img%>"
        ><img class="moviepagimg"
        
        src="<%=movie.img%>"
        /></a>
        
        <div class="cardDiv">
          <div style="min-width:2rem;" ><h1><%=movie.title%> (<%=movie.year%>)</h1></div>
          
          <h5>Starring: <b><%=movie.cast%></b></h5>
          <h5>Director: <b><%=movie.director%></b></h5>
          <h5>
            <a
            href="<%=movie.links%>"
            rel="noopener noreferrer" target="_blank"
            id="imdb"
            >IMDb: <%=movie.imdbRating%></a
            >
          </h5>
          <h5>Genre: <%for(var i=0; i< rgenres.length; i++){%> <a href="/api/movies/search/?title=<%=rgenres[i]%>" style="text-decoration: none;"><%=rgenres[i]%> </a> <%if(i!=rgenres.length-1){%><span>,</span><%}%> <%}%>
            <h5>CBFC Rating: <b><%if(movie.mpAARating==""){%>U/A<%}else{%><%=movie.mpAARating%><%}%></b></h5>
            
            <%if(movie.worldwide!=""){%>
              <h5>Box Office: <b><%=movie.worldwide%></b></h5>
              <%} else {}%>
              
              <h5>RunTime: <b><%=movie.runtime%></b></h5>
              <%if(movie.aspectRatio!=""){%>
                <h5>Aspect Ratio: <b><%=movie.aspectRatio%></b></h5>
                <%} else {}%>
                <h5 >
                  Rental Rate (per day):
        <b style="color: #fff">$<%=movie.dailyRentalRate.toFixed(2)%></b
          >
        </h5>
        
        <%if(movie.numberInStock <=10){%>
          <h5 style="color: #fff">Available in Stock: <%=movie.numberInStock%></h5>
          <span style="color: red; font-size: small"
          >This item is quickly running out of stock</span
          >
          <br>
          <%}%>
          <%if(movie.iReviewed){%>
            <span><a href="#"
              ><button class="btn btn-success">Review</button></a
              ></span>
              <%}%>
              <br>
              &nbsp;&nbsp;<span
              ><a href="/api/movies/addToCart/<%=movie._id%>"
                ><button class="btn btn-success">Add to Cart</button></a
                ></span
                >
                &nbsp;&nbsp;<span><a href="/api/movies/addtowishlist/<%=movie._id%>"
                  ><button class="btn btn-success">Wishlist</button></a
      ></span>
      
    </div>
    
  </div>
  
  <div>
    <h4 style="text-align: center">Related Movies</h4>
  </div>
 
  
    <div class="moviesBox" id="moviesBox">
    
    </div>
      
</body>
</html>
<script>
  moviesjson();
  function moviesjson() {
      var mainSection = {};
      mainSection = document.getElementById("moviesBox");
      const link = window.location.pathname;
      const ki = link.substr(12, link.length);

      var div = {};
      // console.log(typeof k);
      axios.get(`/api/movies/${ki}/getSpecificMovieJSON`).then((response) => {
        const movies = response.data.otherMovies;
        console.log(movies)
        const movieCount = response.data.movieCount;
        const perPage = response.data.perPage;
        movies.forEach((list) => {
          div = document.createElement("div");
          const imgDiv = document.createElement("div");
          const imgTag = document.createElement("img");
          const aTag = document.createElement("a");
          const cardBodyDiv = document.createElement("div");
          const otherAnchor = document.createElement("a");
          const h6Tag = document.createElement("h6");
          div.setAttribute("id", "cardStyling");
          aTag.href = `/api/movies/${list._id}`;
          aTag.target = `blank`;
          aTag.rel = `noopener noreferrer`;
          imgTag.classList.add("img");
          imgTag.src = `${list.img}`;
          imgDiv.appendChild(imgTag);
          aTag.appendChild(imgDiv);
          cardBodyDiv.setAttribute("class", "cardBody");
          otherAnchor.href = `/api/movies/${list._id}`;
          otherAnchor.target = `blank`;
          otherAnchor.rel = `noopener noreferrer`;
          h6Tag.innerText = `${list.title} (${list.year})`;
          otherAnchor.appendChild(h6Tag);
          cardBodyDiv.appendChild(otherAnchor);
          div.appendChild(aTag);
          div.appendChild(cardBodyDiv);
          mainSection.appendChild(div);
        });
      });
      return k;
    }
</script>
    <%- include('./partials/footer') %>
    