<%- include('./partials/header') %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
    rel="stylesheet"
  />
</head>
<style>
  body {
    max-width: 105%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(39, 39, 39);
    color: white;
  }
  .pagination {
    font-size: 20px;
  }
  .moviesBox {
    padding-left: 200px;
  }
  #submitButton {
    background-color: #0fbd9c;
    border-radius: 30px;
    border: 1px solid white;
    display: block;
    color: white;
    margin-top: 3px;
    margin-left: 3px;
    /* box-shadow: 0.5px 0.5px 5px #cecfcf; */
  }
  #cardStyling {
    margin: 0 40px 30px 0;
    width: 200px;
    height: 340px;
    border: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(63, 63, 63, 0.1);
    overflow: hidden;
    filter: drop-shadow(2px 4px 8px #3b3d3d);
    transition: filter 500ms;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
  }

  .card-text {
    color: #000;
    font-family: "Yaldevi", sans-serif;
    font-weight: bold;
  }

  .popbuttons {
    background-color: rgb(74, 175, 74);
    color: white;
    border-radius: 12px;
    border: 1px solid rgb(218, 217, 217);
  }
  ul {
    list-style: none;
    border-radius: 5px;
  }
  .selectStyle {
    padding: 5px;
    width: 100px;
    border-radius: 5px;
  }
  .selectStyle:open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .img {
    height: 280px;
    width: 200px;
    overflow: hidden;
    bottom: 1;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.09);
  }

  b {
    font-weight: bolder;
    color: black;
  }
  strong {
    font-weight: lighter;
  }
  p {
    font-weight: 900;
    margin-right: 50;
  }
  .movieclass {
    margin-left: 10;
    align-items: center;
    margin-top: 5px;
  }
  h1,
  h6 {
    font-family: "Yaldevi", sans-serif;
    cursor: default;
  }
</style>
<body>
  <head>
    <title>Vidly</title>
  </head>
  <link type="text/css" href="./styles/style.css" />
  <h1 class="text-center" style="font-size: 80px">Vidly</h1>
  <h6 class="text-center" style="font-weight: 400">
    All of the World Cinema At One Place
  </h6>
  <br />
  <h6 class="text-center"><%if(name){%>Welcome <%=name%>!<%}%></h6>
  <h3 style="padding-left: 200px"></h3>

  <div style="padding-left: 1180px">
    <form action="/api/movies/search/" method="GET">
      <div class="container row">
        <input
          type="search"
          class="form-control"
          style="
            width: 180px;
            border: 2px solid grey;
            margin-top: 3px;
            border-radius: 25px;
          "
          name="title"
          placeholder="Search Here"
        />
        <button type="submit" id="submitButton">Search</button>
      </div>
    </form>
  </div>

  <form
    class="text-right"
    action="/api/movies/movies/select"
    method="POST"
    id="myForm"
    style="padding-right: 120px; flex-direction: row"
    onchange="get()"
  >
    <span>Sort By &nbsp;</span>
    <select name="sortBy" class="form-select selectStyle">
      <option style="font-weight: lighter">Select</option>
      <option value="Name">Name</option>
      <option value="Year">Year</option>
      <option value="Price">Price</option>
      <option value="IMDb">IMDb Rating</option>
      <option value="Availability">Availability</option>
      <option value="Rank">Popularity</option>
      <option value="Genre">Genre</option>
    </select>
  </form>

  <div class="moviesBox">
    <div class="row">
      <%movies.forEach(list=>{%>
      <div class="card" id="cardStyling">
        <a target="_blank" href="/api/movies/<%=list._id%>"
          ><div class="img-hover">
            <img class="img" src="<%=list.img%>" /></div
        ></a>

        <br />
        <div class="card-body">
          <a
            href="/api/movies/<%=list._id%>"
            style="text-decoration: none"
            target="_blank"
            ><h7 style="position: relative; bottom: 28px; color: white">
              <%=list.title%> (<%=list.year%>)
            </h7></a
          >
          <ul class="main-card"></ul>
        </div>
      </div>
      <br />
      <br />
      <%})%>
    </div>
  </div>
</body>
<%var i =0%>
<form action="/api/movies/movies/" method="GET" class="text-center">
  <%for(i=0; i< movieCount/perPage; i++){%>
  <input type="submit" name="pageNo" class="btn btn-info" value="<%=i+1%>" />
  <%}%>
</form>
<script>
  fetch().then((response) => {
    console.log(response);
  });
</script>

<script>
  function get() {
    document.getElementById("myForm").submit();
  }
</script>
<%- include('./partials/footer') %>
