<%- include('./partials/header') %>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<style>
  #cardStyling {
    border: 1px solid transparent;
    background-color: rgb(52, 58, 64);
    height: 25.625rem;
    width: 14.6875rem;
    margin-bottom: 5vh;
  }

  /* img {
    position: relative;
    /* top: 0; 
    height: 20rem;
    margin: 0.625rem;
    border-radius: 10px;
    width: 14.5rem;
  } */
</style>
<body>
  <%if(subject == "wishList"){%>
  <br />
  <title>My Wishlist</title>

  <h1 class="text-center" style="margin-bottom: 2.5rem">My Wishlist</h1>

  <br />
  <div class="moviesBox">
    <%cust.wishList.forEach(list=>{%>

    <div class="card" id="cardStyling">
      <div>
        <a class="iconStyling" href="/api/customers/pullfromlist/<%=list._id%>"
          ><i class="fas fa-trash fa-2x"></i
        ></a>
      </div>
      <a target="_blank" href="/api/movies/<%=list._id%>"
        ><div class="img-hover">
          <img class="img" src="<%=list.img%>" /></div
      ></a>

      <br />
      <div class="card-body">
        <a href="/api/movies/<%=list._id%>" target="_blank"
          ><h6 style="color: white" class="movietitle text-center">
            <%=list.title%> (<%=list.year%>)
          </h6></a
        >
      </div>
    </div>
    <br />
    <%})%>
  </div>

  <%}else if(subject == "cart"){%>
  <title>My Cart</title>
  <h1 class="text-center">My Cart</h1>
  <a
    style="float: right; position: relative; right: 5%"
    href="/api/rentals/rentalpage"
    ><button class="btn btn-success">Checkout</button></a
  >
  <br />
  <div class="moviesBox">
    <%cust.cart.forEach(list=>{%>
    <div class="card" id="cardStyling">
      <div>
        <a
          class="text-right iconStyling"
          href="/api/customers/pullfromlist/<%=list._id%>"
          ><i class="fas fa-trash fa-2x"></i
        ></a>
      </div>
      <a target="_blank" href="/api/movies/<%=list._id%>"
        ><div class="img-hover">
          <img class="img" src="<%=list.img%>" /></div
      ></a>

      <br />
      <div class="card-body">
        <a href="/api/movies/<%=list._id%>" target="_blank"
          ><h6 style="color: white" class="movietitle text-center">
            <%=list.title%> (<%=list.year%>)
          </h6></a
        >
      </div>
    </div>
    <br />
    <%})%>
  </div>

  <br />

  <%} else if(subject == 'rental'){%>
  <title>My Rentals</title>
  <h1 class="text-center">My Rentals</h1>
  <br />

  <div class="moviesBox">
    <%if(cust){%> <%cust.forEach(now=>{%> <%now.movie.forEach(list=>{%>
    <div class="card" id="cardStyling">
      <a target="_blank" href="/api/movies/<%=list._id%>"
        ><div class="img-hover">
          <img class="img" src="<%=list.img%>" /></div
      ></a>

      <br />
      <div class="card-body">
        <a href="/api/movies/<%=list._id%>" target="_blank"
          ><h6 style="color: white" class="movietitle text-center">
            <%=list.title%> (<%=list.year%>)
          </h6></a
        >
      </div>
    </div>
    <%})%> <%})%> <%} else {%>
    <h1 style="text-align: center">Go Buy Something!</h1>
    <%}%>
  </div>

  <%}%>
  <br />
</body>
<%- include('./partials/footer') %>
