<%- include('./partials/header') %>
<style>
  h1 {
    font-family: "Yaldevi", sans-serif;
  }
  body {
    max-width: 105%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(39, 39, 39);
    color: white;
  }
  .maincontainer {
    padding-left: 20vh;
  }
  .movieclass {
    margin-left: 10vh;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .iconStyling {
    position: relative;
    left: 185px;
    margin-top: 20px;
    top: 5px;
    color: white;
  }
  p {
    font-family: "Yaldevi", sans-serif;
  }
  .iconStyling:hover {
    color: red;
  }
  .nextcontainer {
    display: flex;
  }
  #cardStyling {
    border: 25px;
    background-color: rgb(39, 39, 39, 0.2);
    filter: drop-shadow(2px 4px 8px #3b3d3d);
    transition: filter 500ms;
    height: 410px;
    width: 235px;
    margin-right: 12vh;
  }
  #cardStyling:hover {
    filter: drop-shadow(2px 4px 12px #6bf1d9);
  }
  img {
    position: relative;
    /* left: 60px; */
    top: 0;
    height: 320px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    width: 200px;
  }
</style>
<body>
  <%if(subject == "wishList"){%>
  <br />
  <title>My Wishlist</title>

  <h1 class="text-center" style="margin-bottom: 40px">My Wishlist</h1>

  <div class="maincontainer">
    <br />
    <div class="nextcontainer">
      <%cust.wishList.forEach(list=>{%>

      <div class="card" id="cardStyling">
        <div>
          <a
            class="text-right iconStyling"
            href="/api/customers/pullfromlist/<%=list._id%>"
            ><i class="fas fa-trash fa-2x"></i
          ></a>
          <a target="_blank" href="/api/movies/<%=list._id%>"
            ><img class="card-img" src="<%=list.img%>" alt="..."
          /></a>
        </div>
        <div class="card-block" style="padding: 4px">
          <ul
            class="list-group"
            style="border-radius: 30px; border-color: white"
          >
            <a
              href="/api/movies/<%=list._id%>"
              style="text-decoration: none"
              target="_blank"
              ><h6
                class="card-title"
                style="text-align: center; position: relative; bottom: 5px"
              >
                <%=list.title%>(<%=list.year%>)
              </h6></a
            >
            <!-- <li class="movieclass">
              <p class="card-text"><b>Cast </b>: <%=list.cast%></p>
            </li>
            <li class="movieclass">
              <p class="card-text">
                <b>IMDb</b>:
                <a
                  style="text-decoration: none; font-weight: bold"
                  href="<%=list.links%>"
                  ><%=list.imdbRating%>/10</a
                >
              </p>
            </li>
            <li class="movieclass">
              <p class="card-text">
                <b>Genre</b>:
                <a
                  style="text-decoration: none"
                  href="/api/movies/search/?title=<%=list.genre%>"
                  ><%=list.genre%></a
                >
              </p>
            </li>
            <li class="movieclass">
              <p class="card-text">
                <b>Rent</b>: $<%=list.dailyRentalRate.toFixed(2)%>
              </p>
            </li>
            <br /> -->
          </ul>
        </div>
      </div>
      <br />
      <%})%>
    </div>
  </div>

  <%}else if(subject == "cart"){%>
  <title>My Cart</title>
  <h1 class="text-center">My Cart</h1>
  <div class="text-right" style="margin-right: 350px">
    <a href="/api/rentals/rentalpage"
      ><button class="btn btn-success">Checkout</button></a
    >
  </div>
  <br />
  <div class="container">
    <div class="row">
      <br />
      <%cust.cart.forEach(list=>{%>
      <div class="col-md-4 col-xs-6">
        <div class="card" id="cardStyling">
          <div class="col-md-8 col-xs-4">
            <a
              class="text-right iconStyling"
              href="/api/customers/pullfromcart/<%=list._id%>"
              ><i class="fas fa-trash fa-2x"></i
            ></a>
            <a target="_blank" href="/api/movies/<%=list._id%>"
              ><img
                class="card-img align-items-center"
                style="border-radius: 10px; position: relative; left: 50px"
                src="<%=list.img%>"
                class="card-img"
                alt="..."
            /></a>
          </div>
          <div class="card-block" style="padding: 4px">
            <ul
              class="list-group"
              style="border-radius: 30px; border-color: white"
            >
              <a
                href="/api/movies/<%=list._id%>"
                style="text-decoration: none"
                target="_blank"
                ><h4 class="card-title" style="text-align: center">
                  <%=list.title%>(<%=list.year%>)
                </h4></a
              >
              <li class="movieclass">
                <p class="card-text"><b>Cast </b>: <%=list.cast%></p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>IMDb</b>:
                  <a
                    style="text-decoration: none; font-weight: bold"
                    href="<%=list.links%>"
                    ><%=list.imdbRating%>/10</a
                  >
                </p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>Genre</b>:
                  <a
                    style="text-decoration: none"
                    href="/api/movies/search/?title=<%=list.genre%>"
                    ><%=list.genre%></a
                  >
                </p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>Rent</b>: $<%=list.dailyRentalRate.toFixed(2)%>
                </p>
              </li>
              <br />
            </ul>
          </div>
        </div>
        <br />
      </div>
      <%})%>
    </div>
  </div>
  <%} else if(subject == 'rental'){%>
  <title>My Rentals</title>
  <h1 class="text-center">My Rentals</h1>
  <br />
  <div class="maincontainer">
    <div class="nextcontainer">
      <br />
      <%cust.rentedMovies.forEach(list=>{%> <%console.log(list)%>
      <div class="card" id="cardStyling">
        <!-- <a class="text-right iconStyling" href="/api/customers/pullfromcart/<%=list._id%>"><i class="fas fa-trash fa-2x"></i></a> -->
        <a target="_blank" href="/api/movies/<%=list._id%>"
          ><img
            class="card-img align-items-center"
            src="<%=list.img%>"
            class="card-img"
            alt="..."
        /></a>
        <div class="card-block" style="padding: 4px">
          <ul
            class="list-group"
            style="border-radius: 30px; border-color: white"
          >
            <a
              href="/api/movies/<%=list._id%>"
              style="text-decoration: none"
              target="_blank"
              ><h5 class="card-title" style="text-align: center; color: white">
                <%=list.title%>(<%=list.year%>)
              </h5></a
            >
            <!-- <li class="movieclass">
                <p class="card-text"><b>Cast </b>: <%=list.cast%></p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>IMDb</b>:
                  <a
                    style="text-decoration: none; font-weight: bold"
                    href="<%=list.links%>"
                    ><%=list.imdbRating%>/10</a
                  >
                </p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>Genre</b>:
                  <a
                    style="text-decoration: none"
                    href="/api/movies/search/?title=<%=list.genre%>"
                    ><%=list.genre%></a
                  >
                </p>
              </li>
              <li class="movieclass">
                <p class="card-text">
                  <b>Rent</b>: $<%=list.dailyRentalRate.toFixed(2)%>
                </p>
              </li>
              <br /> -->
          </ul>
        </div>
      </div>
      <%})%>
    </div>
  </div>
  <%}%>
  <br />
</body>
<%- include('./partials/footer') %>
