<%- include('./partials/header') %>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<title>Confirmation</title>
<link
  href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap"
  rel="stylesheet"
/>
<style>
  img {
    position: relative;
    /* top: 0; */
    height: 20rem;
    margin: 0.625rem;
    border-radius: 10px;
    width: 14.5rem;
  }
</style>

<body>
  <h1 class="text-center">Checkout Page</h1>
  <form action="/api/rentals/checkout" class="form" method="POST">
    <label>Select Days for Rental&nbsp;&nbsp;&nbsp;</label>
    <input class="form-input" type="number" name="days" />
    <!-- <br /><label>Address&nbsp;&nbsp;&nbsp;</label> -->
    <input class="form-input" type="hidden" name="address" />
    <button type="submit" class="btn btn-success">Rent</button>
  </form>

  <div class="nextcontainer">
    <%customer.cart.forEach(list=>{%>
    <div class="card" id="cardStyling">
      <div>
        <a class="iconStyling" href="/api/customers/pullfromcart/<%=list._id%>"
          ><i class="fas fa-trash fa-2x"></i
        ></a>
        <a target="_blank" href="/api/movies/<%=list._id%>"
          ><img class="align-items-center" src="<%=list.img%>" alt="..."
        /></a>
      </div>
      <div class="card-block">
        <ul class="list-group" style="border-color: white">
          <a
            href="/api/movies/<%=list._id%>"
            style="text-decoration: none"
            target="_blank"
            ><h6 class="card-title text-center">
              <%=list.title%>(<%=list.year%>)
            </h6></a
          >
        </ul>
      </div>
    </div>

    <%})%>
  </div>
</body>
<%- include('./partials/footer') %>
