<%- include('./partials/header') %>

<div style="text-align: center;">
   <h1 style="text-size-adjust: 30px;">Request Movies</h1>
   <h6>Please add the title to request a specific movie</h6>
   <h7>**Make sure to add the right title for the movie**</h7><br>
   <br>
</div>
<div class="container">
    <div class="col d-flex justify-content-center">
      <form style="text-align: center;" action="/api/movies/requestmovie" method="POST">
        <input type="text" class="form-control" name="title" placeholder="Add movie name here..." style="border-radius: 10px;" /><br>
        <button type="submit" class="btn btn-outline-success" style="border-radius:10px;">Submit</button>
      </form>  
    </div> 
</div>
<h4 class="text-center">Movies you might like</h4>
<br>


<div class="card-group">
  <%movies.forEach(list=>{%>
    <div class="card" style="width: 18rem; align-items:center; justify-content:center; border-radius:35px">
       <div class="col-md-5">
          <img class="card-img-top" src="<%=list.img%>" alt="Card image cap">
       </div>
       <div class="card-body" style="width:18rem">
          <a target="_blank" href="/api/movies/<%=list._id%>"><h5 class="card-title" ><%=list.title%> (<%=list.year%>)</h5></a>
          <span class="card-text">Ratings: </span><br>
          <span class="card-text">Starring: <%=list.cast%></span><br>
          <span class="card-text">Movie Rank: <%=list.rank%></span><br><br>
          <a href="#" class="btn btn-success">Add to Cart</a>
       </div>
    </div>
    <br>
  <%})%>
</div>

